/*  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: rgba(3, 3, 34, 0.833);
}

.container {
    width: min(90%, 43.75em);
    border-radius: 10px;

    border: 3px solid whitesmoke;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    color: whitesmoke;
}

h1 {
    text-align: center;
    margin-bottom: 2em;
    margin-top: 2em;
    font-weight: 800;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mama-item:hover {
    outline: 0px solid transparent;
    padding: 10px 10px;
    border: 5px solid blueviolet;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.mama-item2:hover {
    background-color: blueviolet;
    border-radius: 0.5em;
    outline: 0px solid transparent;
    padding: 15px 15px;
    border: 1px solid darkblue;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: whitesmoke;
}

input {
    border-radius: 5px;
    font-size: 1em;
    width: 8em;
    padding: 0.75em;
    border: none;
    outline: none;
    background-color: #354a80dc;
    color: whitesmoke;
}

button {
    color: darkblue;
    display: block;
    font-size: 1em;
    background-color: whitesmoke;
    padding: .75em;
    margin: 1em auto 2em auto;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;

}

#result {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.8em;
    padding: 1em;
}

.planet-box {
    padding: 1em;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 0.5em;
}

.planet-box img {
    width: 90%;
    height: auto;
}